/build/
/target/
.metadata/.plugins/org.eclipse.core.resources/.history/13/80202ce415a600161e78f74ab236a6d8
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/78/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ajdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.configurator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.dashboard.ui.prefs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/com.genuitec.eclipse.aeri.server1/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a73abfdf4b3668e956d00db52f71672/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a73abfdf4b3668e956d00db52f71672/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a73abfdf4b3668e956d00db52f71672/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a73abfdf4b3668e956d00db52f71672/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.mylyn.github.ui/avatars.ser
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.springframework.ide.eclipse.aop.core/.state
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/bootstrap/css/bootstrap.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/bootstrap/css/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/bootstrap/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/bootstrap/js/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/application.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/blog.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/buttons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/dashboard.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/docs.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/flexbox.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/fontcustom.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/highlight.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/homepage.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/icons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/main.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/markdown-content.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/panes.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/projects.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/responsive.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/tools.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/css/typography.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/font-awesome/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/font-custom/fontcustom.woff
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/blog.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/blog_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/bug_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/comparison_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/compass.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/compass_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/extension.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/extension_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/favicon.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/forum.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/forum_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/guides.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/guides_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/loading.gif
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/logo_bigleaf.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/logo_spring.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/logo_sts.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/new_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/overlay-incoming.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/question.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/spring-logo.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/springdocs.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/img/springdocs_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/js/application.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/js/filter.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/js/guide.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/js/jquery.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/common/js/modernizer.flexbox.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1478652356219/index.html
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.update/623127801.xml
